.map-container {
    margin: 0 auto;
    height: 600px;
    width: 960px;
}

svg {
    position: absolute;
}

.tree {
    z-index:9999;
    /*top: 110px; 
    left: 235px; 
    position: absolute;*/
}

.map > path {
    stroke: white;
    /*fill: white;*/
}

line {
    stroke: white;
    fill: white;
}

.node {
    pointer-events: all;
}

circle {
    stroke: none;
    stroke-width: 40px;
}

.node text {
    font: 8px sans-serif;
}