/* YOUR CUSTOM STYLES */
  /* TEMPLATE STYLES */

html,
body,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #3c4f74;
}

footer.page-footer {
    background-color: #3c4f74;
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
/*Call to action*/

.flex-center {
    color: #fff;
}

.view {
    background: url("https://images.unsplash.com/photo-1487446929682-f62f73984006?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Contact section*/

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1C2331;
}

/* Login styles */
.options {
    color: #757575;
}

.md-form > i {
   color: #757575;
}

.card {
    width: 600px;
}

/* Edit Profile styles */
.form {
  background-color: white;
  opacity: 0.9;
  padding: 1em;
  margin: 0 auto;
}

.pskills{
  color:gray;
}

.form-group {
  color:gray;
}

.editprof {
  color:white;
  text-align: center;
font-variant: small-caps;
}

/* Map styles */
