<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>BootRecruit</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="./css/mdb.min.css" rel="stylesheet">

    <link href="./css/style.css" rel="stylesheet">

</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index">
                <strong>BootCruit</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="about">About<span class="sr-only">(current)</span></a></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#best-features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>

                    </li>
                </ul>
                {{!--<form class="form-inline waves-effect waves-light">
                    <input class="form-control" type="text" placeholder="Search">
                </form>--}}
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
          <!--Section: Team v.1-->
          <div class="container">
          <section class="section team-section">

              <!--Section heading-->
              <br><br><br><br>
              <!--Section description-->
              <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Meet The Team</h1>
              <p class="section-description wow fadeInDown">Meet the current full-stack development bootcampers who brought you BootCruit! Graduating from Georgia Tech Coding Bootcamp: Cohort 1 in July 2017, this team collaborated their newly developed skills and experience together to create an app which brings recruiters and bootcampers together.</p>

              <!--First row-->
              <div class="row text-center">

                  <!--First column-->
                  <div class="col-lg-3 col-md-6 mb-r wow fadeInLeft">

                      <div class="avatar">
                          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAluAAAAJGIyYjRlMWQ1LTMxYTUtNDgxOC1iY2RiLTAxMzcxZGFlNTk5Zg.jpg" class="rounded-circle">
                      </div>
                      <h4>Esterling Accime</h4>
                      <h5>Title</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                      <!--Facebook-->
                      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                      <!--Twitter-->
                      <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                      <!--Dribbble-->
                      <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

                  </div>
                  <!--/First column-->

                  <!--Second column-->
                  <div class="col-lg-3 col-md-6 mb-r wow fadeInLeft">

                      <div class="avatar">
                          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkEAAAAJDU5NWE0OThhLTEyNTAtNDcxZi05NGJjLTRmZGE5ZTFmNTdhOA.jpg" class="rounded-circle">
                      </div>
                      <h4>Cody Brannon</h4>
                      <h5>Title</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                      <!--Linkedin-->
                      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                      <!--Facebook-->
                      <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                      <!--GitHub-->
                      <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

                  </div>
                  <!--/Second column-->

                  <!--Third column-->
                  <div class="col-lg-3 col-md-6 mb-r wow fadeInRight">

                      <div class="avatar">
                          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt0AAAAJDI1ODdhYWE0LTg2YmEtNDA4MC05MTNmLTM4MDNjOTg3ODBmNg.jpg" class="rounded-circle">
                      </div>

                      <h4>Ashley MacWhirter</h4>
                      <h5>Title</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                      <!--Facebook-->
                      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                      <!--Pinterest-->
                      <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                      <!--Instagram-->
                      <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

                  </div>
                  <!--/Third column-->

                  <!--Fourth column-->
                  <div class="col-lg-3 col-md-6 mb-r wow fadeInRight">

                      <div class="avatar">
                          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAATSAAAAJDI1OTc4ZGZiLTk2ZTQtNDdmYy1hN2ExLWRhNDBjMmE0OThlOA.jpg" class="rounded-circle">
                      </div>
                      <h4>Eric Gaupp</h4>
                      <h5>Title</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                      <!--Google +-->
                      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                      <!--Facebook-->
                      <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                      <!--GitHub-->
                      <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

                  </div>
                </div>
                  <!--/Fourth column-->

              </div>
              <!--/First row-->

          </section>
          <!--/Section: Team v.1-->

        </div>
    </div>
    <!--/.Mask-->

    <!-- Main container-->
    <div class="container">



    </div>
    <!--/ Main container-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>

    <!-- Animations init-->
    <script>
        new WOW().init();
    </script>


</body>

</html>
