<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>BootCruit || About the Team | BootCruit Features | Contact Us</title>
    <meta name="description=" content="Meet the BootCruit team, read about a few of our features, see our location and how to contact us.">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="./css/mdb.min.css" rel="stylesheet">

    <link href="./css/style.css" rel="stylesheet">

</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index">
                <strong>BootCruit</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="about">About<span class="sr-only">(current)</span></a></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>

                    </li>
                </ul>
                {{!--<form class="form-inline waves-effect waves-light">
                    <input class="form-control" type="text" placeholder="Search">
                </form>--}}
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div class="view hm-black-strong" id="aboutCover">
        <div class="full-bg-img flex-center">
            <!--Section: Team v.1-->
            <div class="container">
                <section class="section team-section">

                    <!--Section heading-->
                    <br><br><br><br>
                    <!--Section description-->
                    <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Meet The Team</h1>
                    <p class="section-description wow fadeInDown">Meet the current full-stack development bootcampers who brought you BootCruit! Graduating from Georgia Tech Coding Bootcamp: Cohort 1 in July 2017, this team collaborated their newly developed skills and experience to create
                        an app which brings recruiters and bootcampers together with a single click.</p>

                    <!--First row-->
                    <div class="row text-center">

                        <!--First column-->
                        <div class="col-lg-3 col-md-6 mb-r wow fadeInLeft">

                            <div class="avatar">
                                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAluAAAAJGIyYjRlMWQ1LTMxYTUtNDgxOC1iY2RiLTAxMzcxZGFlNTk5Zg.jpg" class="rounded-circle">
                            </div>
                            <h4>Esterling Accime</h4>
                            <h5>Full-Stack Developer</h5>
                            <p>I am passionate about big ideas that improve personal experiences and interactions online. The web is a gateway to the world where information is shared that has the power to change lives. One online experience, one online interaction at a time.</p>

                             <!--Linkedin-->
                            <a class="icons-sm li-ic socialLinks" href="https://www.linkedin.com/in/esterling-accime-324a4181/" target="_blank"><i class="fa fa-linkedin"> </i></a>
                            <!--Facebook-->
                            <a class="icons-sm tw-ic socialLinks" href="#" target="_blank"><i class="fa fa-twitter"> </i></a>
                            <!--GitHub-->
                            <a class="icons-sm git-ic socialLinks" href="https://github.com/accimeesterlin" target="_blank"><i class="fa fa-github"> </i></a>

                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-3 col-md-6 mb-r wow fadeInLeft">

                            <div class="avatar">
                                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkEAAAAJDU5NWE0OThhLTEyNTAtNDcxZi05NGJjLTRmZGE5ZTFmNTdhOA.jpg" class="rounded-circle">
                            </div>
                            <h4>Cody Brannon</h4>
                            <h5>Full-Stack Developer</h5>
                            <p>I am passionate about big ideas that improve personal experiences and interactions online. The web is a gateway to the world where information is shared that has the power to change lives. One online experience, one online interaction at a time.</p>

                            <!--Linkedin-->
                            <a class="icons-sm li-ic socialLinks" href="https://www.linkedin.com/in/cody-brannon-400a71110/" target="_blank"><i class="fa fa-linkedin"> </i></a>
                            <!--Facebook-->
                            <a class="icons-sm tw-ic socialLinks" href="https://twitter.com/clever_cobra" target="_blank"><i class="fa fa-twitter"> </i></a>
                            <!--GitHub-->
                            <a class="icons-sm git-ic socialLinks" href="https://github.com/cbrannon" target="_blank"><i class="fa fa-github"> </i></a>

                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-lg-3 col-md-6 mb-r wow fadeInRight">

                            <div class="avatar">
                                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt0AAAAJDI1ODdhYWE0LTg2YmEtNDA4MC05MTNmLTM4MDNjOTg3ODBmNg.jpg" class="rounded-circle">
                            </div>

                            <h4>Ashley MacWhirter</h4>
                            <h5>Full-Stack Developer</h5>
                            <p>I am passionate about big ideas that improve personal experiences and interactions online. The web is a gateway to the world where information is shared that has the power to change lives. One online experience, one online interaction at a time.</p>

                             <!--Linkedin-->
                            <a class="icons-sm li-ic socialLinks" href="https://www.linkedin.com/in/cody-brannon-400a71110/" target="_blank"><i class="fa fa-linkedin"> </i></a>
                            <!--Facebook-->
                            <a class="icons-sm tw-ic socialLinks" href="#" target="_blank"><i class="fa fa-twitter"> </i></a>
                            <!--GitHub-->
                            <a class="icons-sm git-ic socialLinks" href="https://github.com/amacwhirter" target="_blank"><i class="fa fa-github"> </i></a>

                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-lg-3 col-md-6 mb-r wow fadeInRight">

                            <div class="avatar">
                                <img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/300027_10100381313112389_2058019734_n.jpg?oh=914886d3e8d57c83aa4a2c374583044e&oe=597559FC" class="rounded-circle">
                            </div>

                            <h4>Eric Gaupp</h4>
                            <h5>Full-Stack Developer</h5>
                            <p>I am passionate about big ideas that improve personal experiences and interactions online. The web is a gateway to the world where information is shared that has the power to change lives. One online experience, one online interaction at a time.</p>

                             <!--Linkedin-->
                            <a class="icons-sm li-ic socialLinks" href="https://www.linkedin.com/in/eric-gaupp-89647859/" target="_blank"><i class="fa fa-linkedin"> </i></a>
                            <!--Facebook-->
                            <a class="icons-sm tw-ic socialLinks" href="#" target="_blank"><i class="fa fa-twitter"> </i></a>
                            <!--GitHub-->
                            <a class="icons-sm git-ic socialLinks" href="https://github.com/EricGaupp" target="_blank"><i class="fa fa-github"> </i></a>

                        </div>
                    </div>
                    <!--/Fourth column-->

            </div>
            <!--/First row-->

            </section>
            <!--/Section: Team v.1-->

        </div>
    </div>
    <!--/.Mask-->

    <!-- Main container-->
    <div class="container">

        <section id="features">

            <div class="divider-new">
                <h2 class="h2-responsive wow fadeIn">BootCruit Features</h2>
            </div>

            <!--Section: Best features-->

            <div class="row">

                <!--First columnn-->
                <div class="col-lg-3">
                    <!--Card-->
                    <div class="card wow fadeIn" id="cardfeature">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(25).jpg" class="img-fluid" alt="">
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">360 Advertising</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->

                <!--Second columnn-->
                <div class="col-lg-3">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.2s" id="cardfeature">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(14).jpg" class="img-fluid" alt="">
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">Top-class Team</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--Second columnn-->

                <!--Third columnn-->
                <div class="col-lg-3">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.4s" id="cardfeature">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(21).jpg" class="img-fluid" alt="">
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">Newest Technolgies</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--Third columnn-->

                <!--First columnn-->
                <div class="col-lg-3">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.6s" id="cardfeature">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(37).jpg" class="img-fluid" alt="">
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">24/7 Support</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->
            </div>

        </section>
        <!--/Section: Best features-->

        <!--Section: Contact-->

        <section id="contact">

            <!--Section: Contact v.1-->
            <div class="divider-new">
                <h2 class="h2-responsive wow fadeIn">Contact Us</h2>
            </div>

            <!--Section sescription-->
            <p class="section-description mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

            <div class="row">

                <!--First column-->
                <div class="col-md-5">

                    <!--Form with header-->
                    <div class="card wow fadeInUp" id="cardcontact">

                        <div class="card-block">
                            <!--Header-->
                            <div class="form-header mdb-color">
                                <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                            </div>

                            <p>We'll write rarely, but only the best content.</p>
                            <br>

                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                <input type="text" id="form50" class="form-control">
                                <label for="form50">Your name</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="form51" class="form-control">
                                <label for="form51">Your email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-tag prefix"></i>
                                <input type="text" id="form52" class="form-control">
                                <label for="form52">Subject</label>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-default">Submit</button>
                            </div>

                        </div>

                    </div>
                    <!--/Form with header-->

                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-md-7">

                    <!--Google map-->
                    <div id="map" class="z-depth-1-half map-container wow fadeIn" data-wow-delay="0.8s" style="height: 400px"></div>

                    <br>
                    <!--Buttons-->
                    <div class="row text-center">
                      <div class="col-md-4 wow fadeIn" data-wow-delay="0.2s">
                            <a class="btn-floating btn-small"><i class="fa fa-map-marker"></i></a>
                            <p>Atlanta, Georgia</p>
                            <p>United States</p>
                        </div>

                        <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
                            <a class="btn-floating btn-small"><i class="fa fa-phone"></i></a>
                            <p>555-555-5555</p>
                            <p>Mon - Fri, 8:00-17:00</p>
                        </div>

                        <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                            <a class="btn-floating btn-small"><i class="fa fa-envelope"></i></a>
                            <p>info@bootcruit.com</p>
                            <p>sale@bootcruit.com</p>
                        </div>
                    </div>

                </div>
                <!--/Second column-->

            </div>

        </section>
        <!--/Section: Contact v.1-->
    </div>

    <!--Footer-->
<footer class="page-footer center-on-small-only wow fadeIn">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-lg-1 hidden-lg-down">
                <h5 class="title">ABOUT BOOTCRUIT</h5>
                <p>BootCruit is a single-click staffing solution to connect recruiters and employers to current and recently graduated coding bootcamp students.</p>

                <p></p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-lg-2 col-md-4 offset-lg-1">
                <h5 class="title">Our Projects</h5>
                <ul>
                    <li><a href="#!">BootCruit</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Useful Resources</h5>
                <ul>
                    <li><a href="https://d3js.org/">D3</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Find us on</h5>
                <ul>
                    <li><a href="https://github.com/accimeesterlin/Tab-Nabbers">GitHub</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <h4>Single-Click Staffing Solutions</h4>
        <ul>
            <li>
            <li><a target="_blank" href="index" class="btn btn-info" rel="student">Sign Up</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="/index"> BootCruit.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

    <!-- SCRIPTS -->


    <!-- Google Map -->

    <script>
        function initMap() {
            var uluru = {
                lat: 33.7490,
                lng: -84.3880
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrrOQ-z2DgjouDfgM8M9VH8DD3fFQn2HM&callback=initMap">
    </script>

    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>

    <!-- Animations init-->
    <script>
        new WOW().init();
    </script>


</body>

</html>
