<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>BootCruit || Recruiter and Employer Login</title>
    <meta name="description=" content="Recruiter and employer login to view map of United States populated with active bootcamp students to contact and recruit.">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">

    <link href="../css/style.css" rel="stylesheet">

</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <strong>BootCruit</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about#contact">Contact</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">

            <!--Form with header-->
            <div class="card wow fadeInDown" data-wow-delay="0.2s">
                <div class="card-block">

                    <form id="signin" name="signin" method="post" action="/signin/recruiter">
                        <!--Header-->
                        <div class="form-header blue-gradient">
                            <h3><i class="fa fa-lock"></i> Recruiter Login:</h3>
                        </div>

                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" name="email" data-validation="email" id="email" class="form-control">
                            <label for="email wow fadeInDown">Your email</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" name="password" data-validation="length" data-validation-length="6-30" id="password" class="form-control">
                            <label for="password wow fadeInDown">Your password</label>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-indigo" type="submit">Login</button>
                        </div>

                    </div>

                    <!--Footer-->
                    <div class="modal-footer">
                        <div class="options">
                            <p>Not a member? <a href="/signup/recruiter">Sign Up</a></p>
                            <p>Forgot <a href="#">Password?</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/.Mask-->

    <!-- Main container-->
    <div class="container">



    </div>
    <!--/ Main container-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>

    <!-- JQuery Form Validation -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>

    <!-- Animations init-->
    <script>
        new WOW().init();
        $.validate({
            form: "#signin"
        });
    </script>


</body>

</html>
