<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>BootCruit || Coding Bootcamp Student Signup</title>
    <meta name="description=" content="Coding bootcamp student signup to create and update a profile with skills and contact information to be viewed by recruiters and employers.">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">

    <link href="../css/style.css" rel="stylesheet">

</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <strong>BootCruit</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about#features">Features</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="/about#contact">Contact</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
			<!--Form with header-->
			<div class="card wow fadeInDown" data-wow-delay="0.2s">
				<div class="card-block">
					<form id="signup" name="signup" method="post" action="/signup/student">
						<!--Header-->
						<div class="form-header green-gradient">
							<h3><i class="fa fa-user"></i> Student Register:</h3>
						</div>

						<!--Body-->
						<div class="md-form wow fadeIn" data-wow-delay="1.0s">
							<i class="fa fa-user prefix"></i>
							<input type="text" class="form-control" data-validation="length" data-validation-length="1-100" name="firstname" id="firstname">
							<label for="firstname">First name</label>
						</div>
						<div class="md-form wow fadeIn" data-wow-delay="1.5s">
							<i class="fa fa-user prefix"></i>
							<input type="text" class="form-control" data-validation="length" data-validation-length="1-100" name="lastname" id="lastname">
							<label for="lastname">Last name</label>
						</div>
						<div class="md-form wow fadeIn" data-wow-delay="2.0s">
							<i class="fa fa-envelope prefix"></i>
							<input type="text" class="form-control" name="email" data-validation="email" id="email">
							<label for="email">Your email</label>
						</div>

						<div class="md-form wow fadeIn" data-wow-delay="2.5s">
							<i class="fa fa-lock prefix"></i>
							<input type="password" class="form-control" data-validation="length" data-validation-length="6-30" name="password" id="password">
							<label for="password">Your password</label>
						</div>

                        <!-- TODO: Dynamically add select options from bootcamps entries in database-->
                        <div class="md-form wow fadeIn" data-wow-delay="2.5s">
                            <select class="form-control" data-validation="required" id="bootcamp" name="bootcamp">
                            </select>
						</div>

                        <!-- TODO: Dynamically add select options from bootcamps entries in database-->
                        <div class="md-form wow fadeIn" data-wow-delay="2.5s">
							<select class="form-control" data-validation="required" id="cohort" name="cohort">
                            </select>
						</div>

						<div class="text-center wow fadeIn" data-wow-delay="3.0s">
							<button class="btn btn-default" type="submit">Sign up</button>
						</div>
					</form>
				</div>
			</div>
        </div>
    </div>
    <!--/.Mask-->

    <!-- Main container-->
    <div class="container">



    </div>
    <!--/ Main container-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>

    <!-- JQuery Form Validation -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>

    <script type="text/javascript" src="../js/signup.js"></script>

    <!-- Animations init-->
    <script>
        new WOW().init();
        $.validate({
            form: '#signup'
        });
    </script>


</body>

</html>
